<div class="col-xs-12 topMargin30">
    <div class="row">
        
        <div class="col-xs-4">
            <button class="btn btn-block" ng-click="cardSelection.click('new')">New Card</button>
            <button class="btn btn-block topMargin30" ng-click="cardSelection.click('existing')">Existing Card</button>
        </div>
        
        <!-- new card-->
        <div  ng-if="cardSelection.toggle('new')"> 
            <div class="col-xs-4">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardFirst" placeholder="First Name"></div>                  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardLast" placeholder="Last Name"></div>                  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardNumber" placeholder="Card Number"></div>                  
                    </div>                
                    <div class="form-group">
                        <div class="col-xs-8">
                            <select class="form-control"><option value=''>Card Type</option></select>
                        </div>
                        <div class="col-xs-4">
                            <select class="form-control"><option value=''>CVV</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-6">
                            <select class="form-control"><option value=''>Expiration Month</option></select>
                        </div>
                        <div class="col-xs-6">
                            <select class="form-control"><option value=''>Expiration Year</option></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="checkbox">
                              <label>Save Card<input type="checkbox" value=""></label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>        
            <div class="col-xs-4">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardCountry" placeholder="Country"></div>
                    </div> 
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardAddress1" placeholder="Street Address"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardAddress2" placeholder="Apartment\Suite\Unit #"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12"><input type="text" class="form-control" id="cardAddress2" placeholder="City"></div>
                    </div>
                    <div class="form-group">  
                        <div class="col-xs-6">
                            <select class="form-control"><option value=''>State</option></select>
                        </div>
                        <div class="col-xs-6"><input type="text" class="form-control" id="cardZip" placeholder="Zip Code"></div>    
                    </div>  
                </form>
            </div>
        </div>
        
        <div class="col-xs-8" ng-if="cardSelection.toggle('existing')">
            <h1>EXISTING</h1>
        </div>
        
    </div>
</div>
