<div class="col-xs-12" id="orders" ng-if="shoppingCart.orders.length != 0" ng-style="shoppingCart.border()" >
  <div class="row">
    <div class="col-md-12">
      <div ng-class="shoppingCart.classSwitch()" class="row orders-header">
        <div class="col-md-12">
          <h4 translate>SHOPPING_CART.ORDERS</h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 orders-content" ng-repeat="order in shoppingCart.orders">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                {{ order.gameName }}
                <div class="pull-right">
                    <a href="" ng-click="shoppingCart.removeOrder(order.id)" translate style="cursor: pointer">SHOPPING_CART.REMOVE</a>
                </div>
            </h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-4 col-lg-12">
                <strong><span translate>SHOPPING_CART.DRAWS</span>: </strong>
                <div class="order-draws">
                  <p>{{ order.drawDate }}</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-8 col-lg-12">
                <strong><span translate>SHOPPING_CART.NUMBERS</span>: </strong>
                <div class="order-numbers">
                  <p ng-repeat="numberSets in order.numbers">
                    <em><span ng-repeat="number in numberSets track by $index">{{ number }}&nbsp;</span></em>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer clearfix">
              <div class="pull-right">
                  <strong>Cost: </strong>{{ order.orderCost | currency : "P" }}
              </div>          
          </div>  
        </div>
      </div>
        
      <div ng-class="shoppingCart.classSwitch()" class="row orders-footer">
        <div class="col-md-12">
          Total
          <span class="orders-total"> {{ shoppingCart.cost | currency : "P" }} </span>
          <span class="pull-right" ng-if="shoppingCart.orders.length > 0">
            <!--<button class="btn btn-danger" ng-click="shoppingCart.checkout()">-->
            <button class="btn btn-danger" ng-click="">
              <i class="glyphicon glyphicon-shopping-cart"></i> <span translate>SHOPPING_CART.BUY_NOW</span>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
