<div class="row">
    <div class="col-md-12">
        <h4>{{ betGame.game.name}}</h4>
        <div class="row">
            <div class="col-md-12">
                <h5>2. <span translate>BUY_LOTTO.STEPS.CHOOSE_YOUR_DRAW</span></h5>
            </div>
            <form role="form" class="col-md-12">
                <div class="row">
                    <div class="col-lg-6 col-xs-12" ng-repeat="draw in betGame.draws">
                        <div class="well">
                            <div class="checkbox">
                                <div class="row">
                                    <div class="col-md-5 col-xs-6">
                                        <label>
                                            <input type="checkbox" ng-model="betGame.selectedDraws[draw.drawId]"/> <img class="img-responsive" ng-src="{{ betGame.game.gameLogo }}" />
                                        </label>
                                    </div>
                                    <div class="col-xs-6 col-md7">
                                        <div class="col-xs-12">
                                            {{draw.drawJackpot | currency: "P "}}                                              
                                        </div>

                                        <div class="col-xs-12">
                                            {{draw.drawDate | date : 'EEEE'}}: {{draw.drawDate | date: "shortDate"}}                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--  <div class="row">
            <div class="col-md-12">
                <div class="dropup">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Current System: {{betGame.activeSystem.systemName}}
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li ng-repeat="system in betGame.systems">
                          <button type="button" class="btn btn-primary btn-block entry-buttons" ng-model="betGame.system" btn-radio="'{{system.systemName}}'">	
                              {{ system.systemName }}
                          </button>
                      </li>    
                    </ul>
                </div>
              <h5>3. change <span translate>BUY_LOTTO.STEPS.CHOOSE_YOUR_SYSTEM</span></h5>
                <div class="row">
                    <div class="col-md-12" >
                        <button ng-repeat="system in betGame.systems" type="button" class="btn btn-primary entry-buttons" ng-model="betGame.system" btn-radio="'{{system.systemName}}'">	{{ system.systemName }}
                        </button>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">             
                <div class="col-md-6">
                <h5>3. <span translate>BUY_LOTTO.STEPS.CHOOSE_YOUR_NUMBERS</span></h5>
                    <game-number-set numbers='betGame.game.gameNumbers' system="betGame.activeSystem" game="betGame.game"></game-number-set>

                    <!--<div class="row">
                        <div class="col-md-12 dropup">
                            <button class="btn btn-info" ng-click="betGame.luckyPick()" ng-show="betGame.lucky">Lucky Pick</button>
                            <button class="btn btn-info" ng-click="betGame.autoPlay()" ng-show="betGame.auto">Auto Play</button>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Current System: {{betGame.activeSystem.systemName}}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-select" aria-labelledby="dropdownMenu1">
                                <li ng-repeat="system in betGame.systems">
                                    <div class="col-xs-6 col-sm-4">
                                        <button type="button" class="btn btn-primary  btn-block entry-buttons" ng-model="betGame.system" btn-radio="'{{system.systemName}}'">	
                                            {{ system.systemName }}
                                        </button>
                                    </div>
                                </li>    
                              </ul>
                        </div>
                    </div>-->
                    
                    <div class="row">
                        <div class="col-md-12 dropup">
                            <button class="btn btn-info" ng-click="betGame.luckyPick()" ng-show="betGame.lucky">Lucky Pick</button>
                            <button class="btn btn-info" ng-click="betGame.autoPlay()" ng-show="betGame.auto">Auto Play</button>
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Current System: {{betGame.activeSystem.systemName}}
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-select" aria-labelledby="dropdownMenu2">
                                <li ng-repeat="system in betGame.systems">
                                    <div class="col-xs-6 col-sm-4">
                                        <button type="button" class="btn btn-primary  btn-block entry-buttons" ng-click="betGame.changeSystem(system)">	
                                            {{ system.systemName }}
                                        </button>
                                    </div>
                                </li>    
                              </ul>
                        </div>
                    </div>
                    
                </div>

                <div class="col-md-6">
                    <h5 translate>BUY_LOTTO.BODY.SELECTED_NUMBERS</h5>
                    <selected-number-set system="betGame.activeSystem" game="betGame.game" number-sets="betGame.numberSets"></selected-number-set>
                    <!--<div class="row" ng-repeat="numSet in rangeSets() track by $index">
                        <!--<div class="col-md-2 col-xs-1">-->
                            <!--<table class="table label-table" >-->
                                <!--<tr><td><strong>{{setLabels[$index]}}:</strong></td></tr>-->
                            <!--</table>-->
                        <!--</div>-->
                        <!--<div class="col-md-10 col-xs-11">-->
                            <!--<div class="table-responsive numberSet">-->
                                <!--<table class="table table-bordered table-striped bg-primary" ng-class="{'active': $index == activeSet}" ng-click="toggleSet($index)" num-set={{$index}}>-->
                                    <!--<tr ng-hide="luckyPicks[$index]">-->
                                        <!--<td class="selected-number col-sm-1" ng-repeat="selectable in getSelectableNumbers() track by $index">{{selectedNumbers[$parent.$index][$index]}}&nbsp;</td>-->
                                    <!--</tr>-->
                                    <!--<tr ng-show="luckyPicks[$index]">-->
                                        <!--<td>-->
                                            <!--Lucky Pick<span class="pull-right"><button class="btn btn-xs" ng-click="unlucky($index)" translate>BUY_LOTTO.BUTTONS.RESET</button></span>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--
                    <div class="">
                        <button class="btn btn-success" ng-click="betGame.addOrder()" translate>BUY_LOTTO.BUTTONS.ADD_TO_CART</button>
                    </div>--> 
                    <div class="">
                        <button class="btn btn-success" ng-click="betGame.addOrder()" translate>BUY_LOTTO.BUTTONS.ADD_TO_CART</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
