<div class="col-xs-12">
    <h1 class="text-center"> TRANSACTION REVIEW </h1>
    <div class="col-xs-6">
        <div class="well" ng-repeat="dummy in transactionReview.dummyOrder">
            Draw: {{dummy.draw}} | Numbers: {{dummy.number}} | Cost: {{dummy.cost}}
        </div>

    </div>
    
    <div class="col-xs-6 well">
        <h3>{{transactionReview.dummyCard.name}}</h3>
        <h5>Card Number: {{transactionReview.dummyCard.cardNumber}}</h5>
        <h5>Address: {{transactionReview.dummyCard.address}}</h3>
        <h3>Order Total: {{transactionReview.dummyTotal}}</h3>
    </div>
</div>