<div class="col-xs-12">
    <h1 class="text-center"> TRANSACTION REVIEW </h1>
    
    <div class="col-xs-6">
        <div class="well" ng-repeat="order in transactionReview.orders">
            <p>Draw: {{order.drawDate}}<p> 
            <strong>Numbers</strong>
            <p ng-repeat ="number in order.numbers"> 
                <em><span ng-repeat="n in number track by $index">{{n}}&nbsp;</span></em>
            </p>
            <p>Cost: {{order.orderCost | currency}}</p>                   
        </div>
    </div>
    
    <div class="col-xs-6">
        <div class= "well">
            <h3>Name: {{transactionReview.cardReview.cardFirstname}} {{transactionReview.cardReview.cardLastname}}</h3>
            <h5>Card Number: {{transactionReview.cardReview.cardNumber}}</h5>
            <h5>Address: {{transactionReview.cardReview.cardStreetaddress}}, {{transactionReview.cardReview.cardCity}}, {{transactionReview.cardReview.cardState}}, {{transactionReview.cardReview.cardZipcode}}</h3>
            <h3>Order Total: {{transactionReview.total | currency}}</h3>
        </div> 
    </div>  
    
</div>